DB_HOST=127.0.0.1
DB_USER=mipsys
DB_PASS=mipsys
DB_NAME=db_mipsys
DB_PORT=5433
DB_CONNECTION_LIMIT=10
DATABASE_URL=postgresql://mipsys:mipsys@127.0.0.1:5433/db_mipsys
CORS_ORIGINS=http://localhost:3000
PORT=3001
NODE_ENV=development
JWT_SECRET=mipsys-dev-secret
JWT_EXPIRES_IN=1d
